/* index.css or your main global CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  min-height: 100vh;
  overflow-x: hidden; 
  background-color: #E0E7FF; 
}
